ul {
    list-style-type: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
    padding: 24px 156px;
}

.gallery-image {
    height: 200px;
    width: 360px;
}

.gallery-item {
    width: calc(100% - 48px) / 3;
}



